.wrapper {
    position: relative;
    display: flex
;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}
.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.active__tab {
    background-color: #2bd97c;
}
.container {
    padding: 40px 0;
    width: 100%;
}
.search__background {
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}
.search__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}
.search__input {
    height: 40px;
    width: 80%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
}
.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 10%;
    right: 8px;
    justify-content: flex-end;
    width:30px;
}
.search, .search__input__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}
.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%;
}
.inner__book__bookmark{
    display:flex;
    width: 20px;
    height: 20px;
}
.selected__booktTitle {
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}
.selected__bookIcon {
    display: flex
;
    align-items: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
}

.selected__book__iconImg {
    width: 100%;
    height:100%;
    background-color: #000;
    color: #fff;
    display: flex
;   border-radius:50%;
    justify-content:center;
    align-items: center;
    padding: 7px 3px 7px 7px;
     
}
.selected__book {
    display: flex
;
    justify-content: space-between;
    width: calc((100% / 3) * 2);
    background-color: #fbefd6;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
}
.search__background {
    background-color: #fff;
    border-bottom: 1px solid #e1e7ea;
    height: 80px;
    z-index: 1;
}
.search__wrapper {
    position: relative;
    display: flex
;
    align-items: center;
    justify-content:end;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}
.book__imageWrapper{
   height: 140px;
   width: 140px;
   min-width:140px;
}
.selected__bookSubTitle {
    color: #032b41;
    width: 40%;
    direction: none;
}

.selected__book__text {
    width: 100%;
}
.selected__book__content {
    display: flex;
    width:80%;
    
    
}

.selected__book__author {
    font-size: 14px;
    color: #394547;
    margin-bottom:16px;
}
.sidebar__link__text{  
  margin-left:10px;
}

.selected__bookDurationWrapper{
    display: flex
;
    align-items: center;
    gap: 8px;
}
.for_you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}
.selected__book__line {
    width: 1px;
    background-color: #bac8ce;
}
.selected__bookContent {
    display: flex;
    gap: 16px;
    width:140px;
    height:140px;
}

.search__content {
    display: flex
;
    align-items: center;
    right:23px;
    max-width:340px;
    width:100%;
}
.sidebar__link_line {
    width: 5px;
    height: 100%;
    background-color: transparent;

}
.sidebar__icon__wrapper {
    display: flex
;
    margin-left:16px;
     width:24px;
 height:24px;

}
.sidebar__icon__wrapper_size {
 width:24px;
 height:24px;

}
.sidebar__link__wrapper {
    display: flex
;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}
.sidebar__top {
    flex: 1 1;
    margin-top:40px;
}
.sidebar__logo {
    display: flex;
    font-size:12px;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top:16px;
    max-width:160px;
    margin:0 auto
    
}
.search__wrapper {
    position: relative;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}
.search, .search__input__wrapper {
    display: flex
;
    align-items: center;
    width: 100%;
}
.search__input__wrapper {
    position: relative;
    gap: 8px;
}
.search__input {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    outline: none;
    background-color: #f1f6f4;
    color: #042330;
    border: 2px solid #e1e7ea;
    border-radius: 8px;
}
.search__icon {
    display: flex
;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}
.sidebar__toggle__btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar__overlay__hidden{
    opacity: 0;
    pointer-events: none;
}
.for__you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}
.for__you__sub__title {
    font-size:20px;
    font-weight: 300;
    color: #394547;
    margin-bottom: 16px;
    font-family:"Roboto,sans-serif";

}
.search__icon {
    display: flex
;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}
.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}
.sidebar__icon__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:16px;

}

.sidebar__link__wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}
.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}
.search__icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 8px;
    justify-content: flex-end;
    border-left: 2px solid #e1e7ea;
    padding-left: 8px;
}
.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .01s 
ease 0s;
    z-index: 10;
    opacity:0;
    pointer-events: auto;
}
.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.active__tab {
    background-color: #2bd97c;
}
.container {
    padding: 40px 0;
    width: 100%;
}
.sidebar {
    width: 200px;
    min-width: 200px;
    position: fixed;
    background-color:#f7faf9; 
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}
.sidebar__logo {
    display: flex
;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin:0;

}
.anticon {
    display: inline-flex;

    margin:0 10px;
    font-size: 20px;
    align-items: center;
    color: inherit;
    font-style: normal;
    line-height: 3;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.anticon_libr {
    display: inline-flex;

    margin:0 10px;
    font-size: 26px;
    align-items: center;
    color: inherit;
    font-style: normal;
    line-height: 3;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sidebar__wrapper {
    display: flex
;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    overflow-y: auto;
}
.sidebar__top {
    flex: 1 1;
    margin-top: 40px;
}
.sidebar__link--wrapper {
    display: flex;
    align-items: center;
    height: 56px;
    color: #032b41;
    margin-bottom: 8px;
    cursor: pointer;
}
.sidebar {
    background-color: #f7faf9;
    width: 200px;
    min-width: 200px;
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    transition: all .3s;
}
.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding-top: 16px;
    max-width: 160px;
    margin: 0 auto;
}
.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
}
.sidebar__link__not_allowed {
    cursor: not-allowed;
}
.sidebar__link__line {
    width: 5px;
    height: 100%;
    background-color: transparent;
}
.sidebar__icon__wrapper {
    display: flex
;
    align-items: center;
    justify-content: center;
    margin-left:16px;
}
.book__image{
  width:140px;
  height:140px;
}
.search__content {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 340px;
    width: 100%;
}
.search__inputWrapper {
    position: relative;
    gap:8px;
}
.search, .search__inputWrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.selected__book__sub_title {
    color: #032b41;
    width: 100%;
    text-decoration: none;
    font-weight:700;
    

}
.book__image__wrapper{
  width: 172px;
    height: 172px;
    
}
.for__you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    /* margin-bottom: 16px; */
} 
.selected__book__icon{
height: 140px; 
    width:140px;
    min-width:140px;
    
}
.book__img{
    width:100%;
    height:100%;
}
.selected__book__duration{
  color: #000;
 text-decoration:none;
font-weight:bold;
 text-align:center;
 margin:auto;
 margin-left:5px;
 
}
.audio{
display:flex;
width:40px;
height:40px;
border-radius:50%;
justify-content:center;
background-color:black;
color:white;
align-items:center;
border:1px solid white;
margin-left:1px;
}
.audio_wrapper{
    display:flex;
    width:200px;
    justify-content:start;
    justify-items:center; 
    
}
.card {
  width:100px;
  height:100px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}


.Card {
  width: 220px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.Card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.Card_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display:flex;
}

.card_content {
  padding: 15px;
  text-align: center;
}

.card_content h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #333;
}

.card_content p {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.image_wrapper{
 display:flex;
}