
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
padding:0;
margin:0;
box-sizing:border-box;
font-family: 'Inter', system-ui;
}
 body{
   width:100%;
  position:relative
 }
nav{
  position: relative;
padding:24px;
 width:100%;
 max-width:1200px;
 display:flex;
 justify-content: space-between;
 margin:auto;
}
.logo__img{
width:100%;
height:100%;
border-radius:50%;
}
.logo{
max-width:150px;
height:50px;
}
.nav_link{
padding:20px;
list-style-type:none;
}
.link__hover-effect--black
{
 color:#0a1f44 !important;
}

a{
 text-decoration:none;   
}
.nav__links{
width:100%;
max-width:500px;
display:flex;
align-items:center;
justify-content:center;
list-style-type:none;
}
.nav__link-effect{
padding:10px 20px;
background-color:#5002c4;
color:white;
font-family:700;
border-radius:40px solid;
}
.nav__link-effect-purple{
 color:white;
 border-radius:20px  ;
}
.nav__link--primary{
    font-size:14px;
    color:white;
    border-radius:24px ;
    background-color:rgb(100 21 255 / var(--tw-bg-opacity));
    background-color:#4706a9; ;
    padding:12px 40px;
    font-weight:700;
    text-decoration:none;
    transition:all 300ms; 
    border:none;
}
.nav__link--primary:hover{
  background-color:#6600ff;
}
.link__hover--effect  {
  position:relative;
}

.link__hover-effect--purple{
 position: relative;
}
.link__hover-effect--purple:after{
  content:"";
  position:absolute;
  bottom:-3px;
  height:3px;
  width:0;
  right:0;
  background-color:#4706a9;
  transition:all 300ms ease-in;
}
.link__hover-effect--purple:hover::after{
  left:0;
  width:100%;
}
.link__hover--effect:after{
  content:"";
  position:absolute;
  bottom:-3px;
  height:3px;
  width:0;
  right:0;
  background-color: #242424;
  transition:all 300ms ease-in;
}

 .link__hover--effect:hover::after{
    left:0;
  width:100%;
 
 }
/*Landing*/
h1{
 font-size:48px;
 color:rgb(96, 48, 177);
 font-weight:700;
}
h2{
  margin:0;
  font-size:30px;
  font-weight:700;
}
.text_purple{
 color:rgb(96, 48, 177);  
}
.searchInput__wrapper{
display:flex;
 width:100%;
 position:relative;
 max-width:1000px;
 padding:10px,20px;
} 
.Movies__image{
 width:100%;
  animation-name:move;
  animation-duration:60s;
  animation-iteration-count:all  linear ease ;
   animation-fill-mode: forwards;
}
@keyframes move{
  100%{ 
      transform:translateX(-1500%);
    }
  0%{
      transform:translateX(200%);
     }
}
.Movie__image{
  animation-name:movieAn;
  animation-duration:10000ms;
  animation-iteration-count:all  linear ease ; 
}
@keyframes movieAn{
  50%{ 
      transform:translateX(40%);
    }
  0%{
      transform:translateX(500%);
     }
}
.MoveHalf__img{

  animation-name:movehalf;
  animation-duration:10000ms;
  animation-iteration-count:all infinite linear ease ; 
  animation-fill-mode: forwards;
}
@keyframes movehalf{
  50%{ 
      transform:translateX(-500%);
    }
  0%{
      transform:translateX(50%);
     }
}
.movie_img{
 width:50%;
 padding:12px;
}
.search{
  padding:10px;
  display:flex;

}
.search__effect{
  background-color:black;
  position:relative;
  width:150px;
  height:70px;
  border-radius:20px;
  background-color:rgb(10, 31, 68);
  font-weight:700;
}
.searchInput{
 width:100%;
line-height:70px;
 font-size:30px;
 margin-left:0;
 opacity:0.7;
 border:2px solid black;
 border-radius:20px; 
 height:70px;
padding:0 15px 0 25px;


}

.searchInput:hover{
    opacity:0.8;
    border-color:#4706a9; 
}
.header{
 display:flex;
 flex-direction:column;
 width:100%;
 max-width:900px;
 align-items:center;
 justify-content:center;
 margin:auto;
 position:relative;
 padding:20px;
}
.header__sub-title{
  padding:20px;
}
.btn{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:25px;
  width:150px;
  height:70px;;
 border-radius:10px;
 background-color:#4706a9;
 position:fixed; 
 border-color: rgb(96, 48, 177);
 padding:0,40px;
}
.laoding{
  
  padding:0 20px;
}
 
.btn:hover{
  opacity:0.8;
 background-color:#ff328f;
}
.img-bg{
  width:100%;
}

.project__img
{ 
  width:100%;
  max-width:500px;
   position:fixed;
   background-image:url('/Assets/FSE_img.png');
   background-repeat:no-repeat;
   background-size:calc(100%);
   margin-left:30%;
  margin-bottom:20px;
}
.fa-spinner{
  animation:spinner 1000ms  infinite linear;
  color:white;
  font-size:40px;

}
.fa-search{
  display:flex;
  color:white;
  font-size:50px;
}

@keyframes spinner{
0%{
  transform:rotate(0);

} 
100%{
  transform:rotate(360deg);
}
}
.fes_img{
 width:100%;
 
}
.movies__project{
  margin:auto;
   display:flex;
   justify-content:center;
   margin-left:30%;
}
.btn__menu {
  position: relative;
  background-color:transparent;
  font-size:40px;
  border:none;
  color: #7342d6;
  display:none; 
}
.menu--open {
  max-height:100vh;
  overflow:hidden;
}
.menu--open .menu__backdrop {
  visibility:visible;
  opacity: 1;
  transform: translate(0);
}
.btn__menu--close {
  position:absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}
 .menu_links{
  display:flex;
  flex-direction:column;
  align-items:center;
 }
 .menu__list{
  padding:32px 0;
 }
 .menu__link{
  font-size:40px;
  color:white;
 }

 .btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #7342d6;
  display: none;
}
.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items:center;
  justify-content:center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}


/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 768px) {
 
  .header__title{
   font-size:32px;
  }
  .menu__backdrop{
    background-color:white;
    

  }
  .searchInput__wrapper{
    width:100% ;

  }
 .menu__link{
   font-size:32px;
   color: #7342d6;
  }
  .menu__list{
   list-style-type:none;
   font-size:20px;
  ;
  }
  .project__img{
    top:70%;
    margin:auto;
    left:1%;
  }
  .laoding{
    padding:20px;
    margin:0;
    width:100%;
  }
  .btn{
   width:90%;
  }
  .searchInput{
    width:100%;
    margin:0;
  }
  .fes_img{
    width:100%;
  }
  .searchInput__wrapper{
    display:flex;
    flex-direction:column;
    width:100%;
  

  }

  .search{
    flex-direction:column;
  }
  .nav__links {
   display: none;
  }
  .header__sub-title{
    font-size:23px;
  }
}
/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  .header__title{
    font-size:32px;
   }
   .menu__backdrop{
     background-color:linen;
     
 
   }
   .laoding{
    padding:20px;
    margin:0;
  }
  .btn{
   width:70%;
   margin:0;
  }
  .searchInput{
    width:100%;
    margin:0;
  }
  .menu__link{
    font-size:32px;
    color: #7342d6;
   }
   .menu__list{
    list-style-type:none;
    font-size:20px;
   ;
   }
   .project__img{
     top:70%;
     margin:auto;
     left:1%;
   }
  .btn__menu {
    display: block;
  }
  .project__img{
    margin:auto;
  }
  .fes_img{
    width:100%;
  }
  .nav__links {
   display: none;
  }
  .header__title{

    font-size:24px;
  }
  .btn{
    width:80%;
  }
  
 
  .searchInput__wrapper{
    display:flex;
    flex-direction:column;
    height:50px;

  }
}