.review {
    background-color: #fff3d7;
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 4px;
    font-weight: 300;
}
.review__body {
    color: #394547;
    letter-spacing: .3px;
    line-height: 1.4;
}
.container {
    padding:40px 0;
    width:100%;
}
.row{
   max-width:1070px;
   width:100%;
   margin:auto;
   padding:24px;
    
}

.section__title {
    font-size: 32px;
    color: #032b41;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 700;
}
.reviews__wrapper {
    max-width: 600px;
    margin: 0 auto;
}
.review__header {
    color: #032b41;
    display: flex
;
    gap: 8px;
    margin-bottom: 8px;
}
.btn{
    background-color: #2bd97c;
    color: #032b41;
    width: 50%;
    height: 40px;
    border:none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
     justify-content: center;
    min-width: 180px;
    margin: auto;
}
