*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    max-width:100%;
    overflow-x: hidden;
    scroll-behavior:smooth;

} 
.button{
  outline:none;
  border:none;
  cursor:pointer;
}
.auth__separator:after, .auth__separator:before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
}
.auth__separator:after, .auth__separator:before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
}