.wrapper__full{
    margin-left: 0;
    width: 100%;
    background-color:#ffff;
}
.wrapper{
    position: relative;
    display: flex
;
    flex-direction: column;
    margin-left: 200px;
    width: calc(100% - 200px);
    transition: all .3s;
}
.sidebar__overlay__hidden{
    opacity:0;
    pointer-events: none;
}

.sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    pointer-events: auto;
}
.close__btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 44px;
  cursor: pointer;
  color: #333;

}

.close__btn:hover {
  color: rgb(130, 128, 128);
}
.btn {
    background-color:#2bd97c;
    color:#032b41;
    width:100%;
    height:40px;
    border-radius:4px;
    font-size:16px;
    transition:background-color .2s;
    display:flex;
    align-items:center;
    justify-content:center;
    min-width:180px;
    border:none;
}
.btn.guest__btn__wrapper {
    position:relative;
    display:flex;
    background-color:#3a579d;
    color: #fff;
    justify-content:center;
}
.guest__icon--mask {
    background-color: transparent;
}
.google__icon--mask {
    display: flex
;
    align-items:center;
    justify-content:center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: 2px;
}
.auth__separator__text {
    margin: 0 24px;
    font-size: 14px;
    color: #394547;
    font-weight: 500;
}
.btn.google__btn__wrapper {
    position: relative;
    display: flex
;
    background-color: #4285f4;
    color: #fff;
    justify-content: center;
}
.auth__separator {
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.google__icon__mask {
    display: flex
;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;

    position: absolute;
    left: 2px;
}
.google__icon__mask{
    width: 24px;
    height: 24px;

}
.auth__main__form {
    display: flex
;
    flex-direction: column;
    gap: 16px;
}
.auth__forgot--password {
    text-align: center;
    color: #116be9;
    font-weight: 300;
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 16px;
    cursor: pointer;
}
.auth__title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 24px;
}
.auth__switch--btn {
    height: 40px;
    text-align: center;
    background-color: #f1f6f4;
    color: #116be9;
    width: 100%;
    border-radius: 0 0 4px 4px;
    font-weight: 300;
    font-size: 16px;
}
.auth__main__input {
    height: 40px;
    border: 2px solid #bac8ce;
    border-radius: 4px;
    color: #394547;
    padding: 0 12px;
    outline:none;
}
.auth {
    position:relative;
    max-width:400px;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow:0 0 10px rgba(0, 0, 0,.2);
}
.auth,.auth__wrapper {
    width:100%;
    z-index:9999;
}
.auth__wrapper {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background-color:#000000bf;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.auth__content {
    padding: 48px 32px 24px;
}
.auth__forgot__password {
    text-align: center;
    color: #116be9;
    font-weight: 300;
    font-size: 14px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 16px;
    cursor: pointer;
    outline: none;
}
.auth__switch__btn {
    height: 40px;
    text-align: center;
    background-color: #f1f6f4;
    color: #116be9;
    width: 100%;
    border-radius: 0 0 4px 4px;
    font-weight: 300;
    font-size: 16px;
    outline:none;
   
}
.auth__separator:after, .auth__separator:before {
    content: "";
    display: block;
    flex-grow: 1;
    height: 1px;
    background: #bac8ce;
}
.auth__close__btn {
    position:absolute;
    top:12px;
    right:12px;
    display:flex;
    cursor:pointer;
    transition:opacity .1s;
    outline:none;
}
.auth__switch__btn {
    height:40px;
    text-align: center;
    background-color: #f1f6f4;
    color: #116be9;
    width: 100%;
    border-radius: 0 0 4px 4px;
    font-weight: 300;
    font-size: 16px;
    border:none;
}
.error {
  color: #e53935;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
}