.landing{
  display: block;
}
.container {
    padding:40px 0;
    width:100%;
}
.row{
   max-width:1070px;
   width:100%;
   margin:auto;
   padding:px;
    
}
.linding__wrapper{
    display:flex;
    justify-content:center;
    max-width:1070px;
    width:100%;
}
.landing__content{
width:100%;
}
.landing__content__title{
    color: #032b41;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.landing__content__subtitle{
color: #394547;
font-size: 20px;
font-weight: 300;
margin-bottom: 24px;
 line-height: 1.5;
}
.landing__img__wrapper{
  width:500px;
  height:50px;

}
.landing_img{
  width:495px;
  height:400px
}
.home__cta__btn{
  max-width:300px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.btn{
    background-color: #2bd97c;
    color: #032b41;
    width: 100%;
    height: 40px;
    border:none;
    border-radius:4px;
    font-size: 16px;
    transition: background-color .2s;
    display: flex;
    align-items: center;
     justify-content: center;
    min-width: 180px;
    box-shadow:none;
}
.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}
.row {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.container {
    padding: 40px 0;
    width: 100%;
}
.selected__book {
    display: flex;
    justify-content: space-between;
    width: calc((100% / 3) * 2);
    background-color: #fbefd6;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px;
}
.selected__book--text {
    width: 100%;
}
.selected__book--title {
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}
.selected__book--title {
    font-weight: 600;
    color: #032b41;
    margin-bottom: 8px;
}
.selected__book--author {
    font-size: 14px;
    color: #394547;
    margin-bottom: 16px;
}
.selected__book--duration-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}
